<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>home</h1>
    <a href="{% url 'create_task' %}">create</a>
    {% if tasks %}
    <ul>
      {% for task in tasks %}
      <li>
        <strong>{{ task.name }}</strong><br />
        Category: {{ task.category }}<br />
        Assigned To: {{ task.assigned_to }}<br />
        Start Date: {{ task.start_date }}<br />
        End Date: {{ task.end_date }}<br />
        Priority: {{ task.priority }}<br />
        Description: {{ task.description }}<br />
        Location: {{ task.location }}<br />
        Organizer: {{ task.organizer }}<br />
      </li>

      <a href="{% url 'update' task.pk %}">Update {{ task.name }}</a>
      <a href="{% url 'delete' task.pk %}">delete </a>
      {% endfor %}
    </ul>
    {% else %}
    <p>No tasks available.</p>
    {% endif %}
  </body>
</html>
